<div class="container-fluid p-5 " style="margin-top: 10px;   ">
    <div class="row ">
        <div class="col-md-5 mx-auto ">
            <div class="alert alert-light  fade show text-center" role="alert"
                style="box-shadow:  1px 2px 7px rgba(0, 0, 0, 0.4);">
                <h3 style="margin-top: 20px; color: black;">
                    Quieres eliminar este contacto?

                </h3>
                <div class="d-grid gap-2 d-md-block" style="margin-top: 20px;">
                    <button onclick="window.location.href = '/links/delete/{{id}}';" type="button"
                        class="btn btn-primary" style="margin-right:40px;">Aceptar</button>
                    <button onclick="window.location.href = '/links';" type="button"
                        class="btn btn-danger">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>