<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Contactos Favoritos</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        {{#if user}}
        <li class="nav-item">
          <form action="/links/buscar" method="post" class="d-flex" style="margin:10px 150px 0 0;">
            <input class="form-control me-1" type="search" placeholder="Buscar Contacto" name="nameContacto">
            <input class="form-control me-2" type="search" value="{{user.id}}" style="display: none;" name="user_id">
            <button class="btn btn-outline-success">Buscar</button>
          </form>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Contactos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="boton dropdown-item" href="/links">Todos los contactos</a>
            <div class="dropdown-divider">
            </div>
            <a class="boton dropdown-item" href="/links/add">Agregar un Contacto</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile">Perfil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Cerrar sección</a>
        </li>
        {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/signin">Iniciar sección</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signup">Registrarse</a>
        </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>